<div class="container">
  <main>
    <div id="search-section">
      <%= form_tag articles_search_path, method: :get, class: "search-form" do %>
        <%= text_field_tag(
            :search,
            params[:search],
            placeholder: "Search",
            class: "form-control"
        ) %>
        <br>
        <%= submit_tag("search", :id => "search") %>
        <br>
        <%= datetime_select(
        :start_time,
        params[:start_time],
        class: "form-control"
        ) %>
        <%= datetime_select(
        :end_time,
        params[:end_time],
        class: "form-control"
        ) %>
      <% end %>
    </div>

    <ul id="zone-list">
    </ul>
  </main>
</div>

<script id="template-visualization" type="text/x-handlebars-template">
	<li class="visualization-container">
    <div class="visualization">
      <div class="hotness">
        {{hottness}}
      </div>
    </div>
  </li>
</script>

<script id="template-zone" type="text/x-handlebars-template">
	<li class="zone">
    <ul class="keywords">
      <li>SpaceX</li>
      <li>Hyperloop</li>
      <li>Nasa</li>
    </ul>
    <div class="article-summary">
      <h2 class="article-summary-title">{{title}}</h2>
      <p class="article-summary-body">{{lead_paragraph}}</p>
  		<a class="article-web-url" href="{{web_url}}">More</a>
    </div>
	</li>
</script>
