<div class="container">
  <main>
    <div id="search-section">
      <%= form_tag articles_search_path, method: :get, class: "search-form" do %>
        <%= text_field_tag(
            :search,
            params[:search],
            placeholder: "Search",
            class: "form-control"
        ) %>
        <br>
        <%= submit_tag("search", :id => "search") %>
        <br>
        <%= datetime_select(
        :start_time,
        params[:start_time],
        class: "form-control"
        ) %>
        <%= datetime_select(
        :end_time,
        params[:end_time],
        class: "form-control"
        ) %>
      <% end %>
    </div>

    <ul class="article-summary-list">
    </ul>
  </main>
</div>

<script id="article-summary-list-item" type="text/x-handlebars-template">
	<li class="article-summary">
    <h2 class="article-summary-title">{{title}}</h2>
    <p class="article-summary-body">{{lead_paragraph}}</p>
		<a href="{{web_url}}">MORE</a>
	</li>
</script>
