<!DOCTYPE html>
<html>
<head>
  <title>Noodle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Fira Sans -->
  <link href='https://code.cdn.mozilla.net/fonts/fira.css' rel='stylesheet' type='text/css'>
  <!-- Roboto Slab -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
   <nav class="nav-bar">
      <div class="title"><a href="<%= root_path %>">Noodle</a></div>
      <ul class="nav-list">
        <% if current_user %>
          <li class="nav-item username"><a href="<%= user_path(current_user) %>"><%= current_user.email %></a></li>
          <li class="nav-item"><%= link_to "Logout", sessions_destroy_path, :method => :delete %></li>
        <% else %>
          <li class="nav-item"><a href="<%= new_user_path %>">Sign Up</a></li>
          <li class="nav-item"><a href="<%= sessions_new_path %>">Login</a></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div class="container">
    <%= yield %>

    <footer>
    </footer>
  </div>

</body>
</html>
